* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    border: 1px solid black;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.orderPage{
    width: 800px;
    height: 920px;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexSpaceBetween {
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.flexCenter {
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.flexItemCenter {
    align-items: center;
}

.flex1 {
    display: flex;
    flex: 1;
}

.flex4 {
    display: flex;
    flex: 4;
}

.flex8 {
    display: flex;
    flex: 8;
}

.scroll {
    width: 100%;
    overflow-y: auto;
}

.height200 {
    height: 200px;
}

.height500 {
    height: 500px;
}

.height600 {
    height: 600px;
}

.maxHeight500 {
    max-height: 500px;
}

.fullWidth {
    width: 100%;
}

.fullHeight {
    height: 100%;
}

.categoryCard {
    display: inline-block;
    width: 150px;
    height: 100px;
}

.itemCard {
    display: inline-block;
    width: 150px;
    height: 100px;
}

.boderAround {
    border: 1px solid black;
}

.bgYellow {
    background-color: #f0ad4e;
}

.selected {
    background-color: #fff4c2;
}

.thumb {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    background-color: #343434;
}

.console {
    font-family: monospace;
    font-size: 0.8em;
    width: 25px;
    height: 15px;
    overflow: hidden;
}

.pre {
    font-family: monospace;
    font-size: 0.8em;
}

span {
    border: 1px inset;
}

.padding10{
    padding: 10px 0;
}

.addBtn {
    background-color: #f0ad4e;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    text-align: center;
}

.fontSize15 {
    font-size: 1.5em;
}

.textCenter {
    text-align: center;
}

.width20 {
    width: 20px;
}

.width40 {
    width: 40px;
}

.width75 {
    width: 75px;
}

.width100 {
    width: 100px;
}

.tcLongTxt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.inlineBlock {
    display: inline-block;
}

.childrenItemList {
    margin-left: 30px;
    font-family: monospace;
}